<button (click)="logout()">Cerrar sesión</button>

<section>
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            subir post
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <mat-form-field appearance="fill">
          <mat-label>Titulo</mat-label>
          <input matInput type="text" name="title" [(ngModel)]="posts1.title">
        </mat-form-field>
    
      
        <div>
          <input  type="file" class="file" (change)="upload($event)" />
          <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            <img src="{{downloadSrc}}" height="100px" type="image/tif" class="imagemuestra"/>
  
    
  
  
              <mat-form-field appearance="fill">
                <mat-label>Contenido</mat-label>
                <input matInput type="text" class="contenido"name="content" [(ngModel)]="posts1.content">
                
  
              </mat-form-field>
       
              <mat-form-field appearance="fill">
                <mat-label>Autor</mat-label>
                <input matInput type="text" name="author" [(ngModel)]="posts1.author">
              </mat-form-field>
            
      <mat-action-row>
        <button mat-button color="warn" (click)="agregar(downloadSrc)">guardar</button>
      </mat-action-row>
  
          </div>
        </div>
        <mat-action-row>
  
          <button mat-button color="primary" (click)="cancelar()">cancelar</button>
        </mat-action-row>
     
      </mat-expansion-panel >
    </mat-accordion>
    <button mat-button color="primary" (click)="local()">local</button>

  </section>