.logo {
  width: 12%;
  min-width: 150px;
  margin: 1em;
}

.a1{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.a2{
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.example-header-image {
  background-image: url("../../../assets/thumbnail.png");
  background-size: cover;
}


.botonlog {
  width: 12%;
  min-width: 150px;
  margin: 1em;
  float: right;
}
.my-fixed-item {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  padding: 20px;
  width: 170px;
  background-color: darkgray;
}

section{
  max-width: 700px;
  margin: 2em auto;
}
mat-form-field{
  width: 100%;
}
img{
  width: 100%;
}
input[type="file"] {
font-size: 15px;
font-weight: 600;
color: #fff;
background-color: #106BA0;
display: inline-block;
transition: all .5s;
cursor: pointer;
padding: 15px 40px !important;
text-transform: uppercase;
width: 100%;
text-align: center;

}

.imagemuestra {
margin-top: 15px;
margin-bottom: 15px;

display: block;
margin-left: auto;
margin-right: auto;
width: 100%;

}
.example-icon {
padding: 0 14px;
}
.bot{
padding: 0 14px;

}


.example-spacer {
flex: 1 1 auto;
}


* {
box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 0px;
}

html {
font-family: "Lucida Sans", sans-serif;
}









/* For mobile phones: */
[class*="col-"] {
width: 100%;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}