<mat-toolbar color="primary">
    <div class="logo">
        <a href="principa;">
        <img src="assets/logo_white.png" />
          </a>
      </div>
      <span class="example-spacer"></span>


      <button mat-raised-button color="primary" class="botonlog" (click)=" informacion()">Informacion</button>
      
      <button mat-raised-button color="primary" class="botonlog" (click)="logearse()">Login</button>

 </mat-toolbar>




<div class="row">
  <div class="col-4 menu">
    <app-segundatempo></app-segundatempo>
  </div>

  <div class="col-8">
  
    <div>
  dsadasdasdasasdasdasd
     </div>



   </div>


</div>





